*****************
${{ total }} Paid
*****************

--------------------------
Thanks for using Acme Inc.
--------------------------

{{ first_name }} {{ last_name }}
{{ title }}
{{ order_date format="M j Y" }}

{{ items }}

{{quantity}}x {{ title }}
$ {{ subtotal }}

{{ /items }}

Discount
-$ {{ discount }}

Tax
$ {{ tax }}

Shipping
$ {{ shipping }}

Total
$ {{ total }}

View in browser ( http://www.statamic.com )

Acme Inc. 123 Van Ness, San Francisco 94102

Questions? Email support@acme.inc